<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{#if pageTitle}}{{pageTitle}}{{else}}FreeMindRPG{{/if}}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="nav-complete">
    <button class="menu-toggle" id="menuToggle">☰</button>
    <a href="/cadastro" class="cadastro"></a></img>
    
    <div class="nav-links" id="navLinks">
      <button class="botao-imagem"><a href="/">Início</a></button>
      <button class="botao-imagem"><a href="/catalogo">catálogo</a></button>
      <button class="botao-imagem"><a href="/publique" >Publique</a></button>
      <button class="botao-imagem"><a href="/como-ganhar">Como Ganhar</a></button>
      <button class="botao-imagem"><a href="/suporte" >Suporte</a></button>
    </div>
      <button class="busca-topo" id="busca-topo">BUSQUE UM LIVRO</button>
   
    
</div>

<div class="conteudo">
    
    <main>
        {{{body}}}
    </main>

</div>
    <footer>
        <p>&copy; 2026 Projeto Integrador</p>
    </footer>


</body>
</html>