    <div class="banner"></div>
      <div class="informativo">
            <div class="square">

                <div class="alinhamento">
                    
                    <div class="conteiner-texto">
                        <h1 class="titulos">OBRAS CLASSICAS</h1>
                            <p class="textos">Para quem gosta dos <a href="/catalogo" style="color:#290277;"><strong>CLASSICOS</strong></a>,<p class="textos">temos um acervo com os melhores</p>
                            <p class="textos">livros de RPG conhecidos.</p>  
                            </p>
                           
                    </div>

                    <div class="text-img">
                        <img src="../img/livros/livros rpg-2.png" alt="Livros RPG" class="primeiro-livro"> 
                    </div>
                </div>
                <a href="/catalogo" class="botao-informativo">Acesse Aqui</a>  

            </div>

            <div class="square-2">

                <div class="alinhamento">
                    
                    <div class="conteiner-texto-2">
                        <h1 class="titulos-2">OBRAS <br>INDEPENDENTES</br></h1>
                        <p class="textos-2"><span style=color:#290277;><strong>DESENVOLVA</strong></span> suas campanhas e<br> seus sistemas, <span style=color:#290277;><strong>CRIE</strong></span> seu usuário,<br> compartilhe e ganhe  ajudando  com o <br> crescimento dessa <span style=color:#290277;><strong>COMINUDADE</strong></span>!
                            </p>
                           
                    </div>

                </div>
                
                    <div class="carrossel-livros">
                        <div class="carrossel-container">
                            {{#each products}}
                                <div class="carrossel-item">
                                    <img src="{{this.img}}" alt="{{this.titulo}}" class="livros-classicos">
                                    <p class="livro-titulo">{{this.titulo}}</p>
                                </div>
                            {{/each}}
                        </div>
                       
                    </div>
                <a href="/cadastro" class="botao-informativo-2">CRIAR CONTA</a> 

            </div>

            <div class="informacoes">
                <div class="quadrados">
                    <h2 class="quad-info">RENDA EXTRA</h2>
                    <p><span style=color:#290277;>COMPLEMENTANDO A RENDA E TRAZENDO TRANQUILIDADE FINANCEIRA AOS NOSSOS COLABORADORE</span></p>
                </div>
                <div class="quadrados">
                    <h2 class="quad-info">OBRAS</h2>
                    <p><span style=color:#290277;>MAIS DE 300 OBRAS INDEPENDENTES JÁ PUBLICADAS</span></p>
                </div>
                <div class="quadrados">
                    <h2 class="quad-info">CRESCIMENTO</h2>
                    <p><span style=color:#290277;>DESENVOLVENDO A COMUNIDADE E TRAZENDO CONTEUDOS NOVOS DE TODOS OS GOSTOS E CATEGORIAS</span></p>
                </div>

            </div>

            <div class="titulos-3">
                <span style=color:#290277;><strong>COMENTARIOS E AVALIAÇÕES</strong></span></div>
                <img src="../img/COMENTARIOS.PNG" alt="Avaliações RPG" class="img-avaliacoes">
                <img src="../img/pena.png" alt="pena" class="pena">

                <div class="square-comentarios">
                    <div class="comentarios-grid">
                        <article class="comentario-card">
                            <img src="../img/icone-user.png" alt="Usuário A" class="comentario-avatar">
                            <h3 class="comentario-nome">Luna Martins</h3>
                            <p class="comentario-estrelas">★★★★★</p>
                            <p class="comentario-texto">Comprei um clássico e a entrega foi rápida. Plataforma muito fácil de usar.</p>
                        </article>

                        <article class="comentario-card">
                            <img src="../img/icone-user.png" alt="Usuário B" class="comentario-avatar">
                            <h3 class="comentario-nome">Rafael Costa</h3>
                            <p class="comentario-estrelas">★★★★★</p>
                            <p class="comentario-texto">A navegação no catálogo ficou excelente. Encontrei meu sistema favorito em minutos.</p>
                        </article>

                        <article class="comentario-card">
                            <img src="../img/icone-user-2.png" alt="Usuário C" class="comentario-avatar">
                            <h3 class="comentario-nome">Bianca Lopes</h3>
                            <p class="comentario-estrelas">★★★★☆</p>
                            <p class="comentario-texto">Ótima experiência para autores independentes. Visual bonito e bem organizado.</p>
                        </article>
                    </div>
                </div>

            </div>
            </div>

                 
    </div>
